<footer>
    <div class="logo">
    <p><a routerLink=""><img src="assets/images/logo.png" alt="image-logo"></a></p>
    <p>IT FORMATION propose un catalogue de formations à destination des demandeurs d'emploi qui souhaite<br>
         s'orienter vers les métiers du numériques</p>
</div>
<div class="coordonnees">
    <h2>Nos coordonnées</h2>
    <address>
        57 Rue des Bourgerons<br>
        50700 Marcq-en-Boraeul<br>
        03 20 45 77 77<br>
        contact@itformation.fr
    </address>
</div>
<div>
    <p id="contact"><a routerLink="">CONTACTEZ NOUS</a></p>
    <p>Suivez l'actualité de l'It Formation</p>
    <p class="linkedin"><img src="assets/images/linkedin.png" alt="image-logo-linkedin" height="60px"></p>
</div>

</footer>
