<div id="container">
    <ul class="menu">
        <li><a routerLink="">accueil</a></li>
        <li>formations
            <ul>
                <li><a routerLink="detail-formation">développeur web java</a></li>
                <li><a routerLink="detail-formation">développeur PHP</a></li>
                <li><a routerLink="detail-formation">développeur .net</a></li>
            </ul>
        </li>
        <li><a routerLink="" target="_blank">e-learning</a></li>
        <li>thèmes
            <ul>
                <li><a routerLink="">java</a></li>
                <li><a routerLink="">html</a></li>
                <li><a routerLink="">xml</a></li>
            </ul>
        </li>
        <li><a routerLink="">contact</a></li>
    </ul>
</div>