<main>
<header>
    <h1>IT FORMATION</h1>
    <h2>Se former aux techniques et métiers du numériques</h2>
    <h2>En présentiel et en ligne</h2>
    <ul>
        <li>Organisme de formation agréé présent dans plusieurs régions</li>
        <li>Les formations sont proposées en présentiel et en ligne</li>
        <li>Entrée rapide en formation</li>
    </ul>
</header>


    <div class="image-principale">
        <img src="assets/images/centre-formation.jpg" alt="image de couverture" width="100%" height="600px" class="img-prin"/>
    </div>
    <article>
        <h1>Nos actualités : </h1>
        <div class="actualites">
            <p><a href="#"><img src="assets/images/actu1.png" alt="image actu1" /></a></p>
            <p><a href="#"><img src="assets/images/actu2.png" alt="image actu2" /></a></p>
            <p><a href="#"><img src="assets/images/actu3.png" alt="image actu3" /></a></p>
        </div>
    </article>
    <div class="catalogues">
        <h1>Téléchargez notre catalogue et découvrez notre offre de formations : </h1>
        <a href="assets/pdf/catalogue.pdf" target="_blank"><img src="assets/images/catalogue.png" alt="dessin-catalogue"
                width="300px" height="300px" /></a>
    </div>
    <section class="presentation-formations">
        <header>
            <h1>Bienvenue dans notre centre de formation :</h1>
            <p>IT FORMATION propose une offre de formations en présentiel mais aussi 100% en ligne</p>
            <p>Maîtriser et renforcer les connaissances et les compétences nécessaires 
                à l’exercice des métiers du numériques et des projets IT des particuliers et professionnels</p>
        </header>
        <article class="formation-en-ligne">

            <div>
                <h2>En distanciel</h2>
                <p>La plateforme d'apprentissage d'IT FORMATION, accessible 24h/24,
                    offre un suivi personnalisé par un formateur spécialement dédié à chaque apprenant,
                    disponible 7 jours sur 7.
                    Cet accompagnement permet de suivre la progression en réalisant des bilans réguliers et
                    de valider les acquis.</p>
            </div>
            <p><img src="assets/images/formation-en-ligne.png" height="300px"></p>

        </article>
        <article class="formation-en-presentiel">

            <p><img src="assets/images/formation-en-presentiel.jpeg" height="250px"></p>
            <div>
                <h2>En présentiel</h2>
                <p>Différentes formules de formation vous sont proposées,
                    vous n’avez plus qu’à choisir la plus adaptée à vos besoins et selon votre budget !</p>
            </div>

        </article>
        <article class="carte">

            <h1>IT FORMATION est présent dans 17 départements : trouvez le centre le plus proche de chez vous</h1>
            <p><img src="assets/images/carte-de-france.jpg" height="600"></p>
        </article>
    </section>
</main>